@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;800;900&display=swap');

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}
body{
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}
.container{
    max-width: 1396px;
    margin: auto;
    width: 100%;
}
.header{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    width: 100%;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}
.header__right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}
.header__number{
    text-decoration: none;
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 800;
    margin-right: 35px;
}
.header__number:hover{
    text-decoration: none;
    color: black;
}
.header__button{
    text-decoration: none;
    color: black;
    background-color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    border: 2px solid #ff213b;
    border-radius: 50px;
    padding: 20px 90px;
    outline: 0;
    cursor: pointer;
}
.header__button:hover{
    text-decoration: none;
    color: #fff;
    background-color: #ff213b;
}
.main{
    background-color: #e9e9e9;
    position: relative;
}
.main::before{
    content: '';
    background-image: url(../img/car-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 57%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.main::after{
    content: '';
    background-color: #172c42;
    background-image: url(../img/car-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 43%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}
.main__wrapper{
    display: flex;
    width: 100%;
}
.main__left{
    position: relative;
    z-index: 1;
    width: 57%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 4px;
}
.main__nav{
    padding: 0;
}
.main__nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin: 0;
}
.main__nav-link{
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;
    padding: 50px 36px;
}
.link-active,
.main__nav-link:hover{
    background-color: #ff213b;
    color: #fff;
}
.main__left-center{
    padding-top: 60px;
}
.main__left-title{
    font-size: 80px;
    line-height: 90px;
    font-weight: 900;
    word-wrap: break-word;
    margin-bottom: 0;
}
.main__left-title span{
    color: #ff213b;
}
.main__left-text{
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 240px;
    font-size: 24px;
    line-height: 32px;
}
.main__right{
    width: 43%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .main__form{

} */
.main__form-title{
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 0;
}
.form-control.main__form-control{
    width: 400px;
    margin-left: 0;
}
.modal__button-order.main__form-button{
    margin-top: 50px;
    cursor: pointer;
}
.advantages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 55px;
    width: 100%;
}
.advantages__title{
    color: #000000;
    font-size: 50px;
    font-weight: 900;
    line-height: 28px;
    padding-bottom: 30px;
}
.advantages__content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.advantages__block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 60px;
    padding-bottom: 50px;
}
.advantages__block-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.advantages__block-image{
    padding-right: 25px;
}
.advantages__content-title{
    font-size: 30px;
    font-weight: 900;
    line-height: 28px;
    color: #000000;
    position: relative;
    margin-top: 0;
}
.advantages__content-title::after{
    content: '';
    width: 98px;
    height: 10px;
    background-color: #ff213b;
    position: absolute;
    left: 0;
    bottom: -18px;
}
.advantages__content-text{
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    width: 100%;
}


.pricing{
    background-color: #fff;
}
.pricing.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing__title{
    font-size: 50px;
    color: #000000;
    font-weight: 900;
    line-height: 28px;
    margin-bottom: 70px;
}
.pricing__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.pricing__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.pricing__card:first-child{
    margin-right: 25px;
}
.pricing__card:last-child{
    margin-left: 25px;
}
.pricing__card-title{
    background-color: #172c42;
    color: #fff;
    font-size: 30px;
    line-height: 28px;
    font-weight: 900;
    padding: 30px 0;
    width: 100%;
    text-align: center;
    margin: 0;
}
.pricing__block-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 20px 50px;
}
.pricing__block-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing__block-text{
    margin-left: 15px;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}
.pricing__line{
    color: #e2e2e2;
    width: 100%;
    background-color: #e2e2e2;
    margin: 0;
}
.pricing__card-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 25px;
    position: relative;
}
.pricing__card-footer-old{
    line-height: 24px;
    color: #172c42;
    font-size: 24px;
}
.pricing__card-footer-new{
    color: #172c42;
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
    margin-top: 15px;
    margin-bottom: 50px;
}
.pricing__card-footer-new span{
    font-size: 24px;
    font-weight: 500;
}
.pricing__card-button{
    background-color: #ff213b;
    color: #fff;
    border: none;
    outline: none;
    padding: 26px 115px;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    bottom: -40px;
    cursor: pointer;
}
.pricing__bottom-text{
    margin-top: 50px;
    text-align: center;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.pricing__bottom-text span{
    color: #ff213b;
}


.reviews.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
    min-width: 0;
}
.reviews__title{
    color: #000000;
    font-size: 50px;
    font-weight: 900;
    line-height: 68px;
}
.reviews__block{
    width: 100%;
}
.reviews__slider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 350px;
    height: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 20px 45px;
}
.box img{
    width: 100%;
    height: auto;
}
/* .item-a{
    margin-left: 3.5px;
} */


.footer{
    background-color: #172c42;
    width: 100%;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__left, .footer__right{
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__link{
    font-size: 24px;
    line-height: 39px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.footer__link .footer__arrow{
    margin-left: 20px;
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100000;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal__window{
    max-width: 675px;
    min-width: 200px;
    min-height: 200px;
    max-height: 545px;
    top: 50%;
    left: 50%;
    /* transform: translate(0%, 40%); */
    width: 95%;
    background: #FFFFFF;
    margin: auto;
    padding-top: 65px;
    padding-bottom: 55px;
    padding-left: 50px;
    padding-right: 50px;
}

.modal__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}
.modal__title{
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    padding-left: 280px;
}
.modal__button-close{
    font-size: 36px;
    border: none;
    outline: none;
    background-color: #fff;
}
.modal__body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-control{
    width: 520px;
    height: 60px;
    margin: 10px;
    outline: none;
}
.form-control:nth-child(1){
    margin-top: 0;
}
.form-control:nth-child(3){
    margin-bottom: 50px;
}
input[type=text], input[type=phone]{
    padding-left: 15px;
    color: #000000;
}
::placeholder{
    color: #000000;
}

.modal__button-order{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 120px ;
    background: #ff213b;
    color: #fff;
    border: none;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    font-size: 24px;
    line-height: 45px;
    cursor: pointer;
}

/* modal-thanks */

.modal__thanks{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.modal__thanks-title{
    font-size: 41px;
    font-weight: 900;
    margin-bottom: 40px;
}
.modal__thanks-text{
    margin-top: 0;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 50px;
}
.modal__thanks-social{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 38%;
}


.is-open{
    display: flex;
}
.is-closed{
    display: none;
}
.is-ok{
    display: flex;
}


/* media queries */

@media(max-width: 1366px){
    .reviews__block {
        width: 64%;
    }
}
@media(max-width: 1180px){
    .main__left {
        width: 100%;
    }
    .main__right{
        width: 100%;
        background-color: #172c42;
        background-image: url(../img/car-2.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .main__wrapper{
        flex-direction: column;
    }
    .main::after{
        content: none;
    }
    .main::before{
        width: 100%;
    }
    .form-bottom{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .main__left-title{
        width: 95%;
        margin: auto;
    }
    .main__left-text{
        width: 95%;
        margin: auto;
    }
    .advantages__content{
        flex-direction: column;
    }
    .advantages__image{
        object-fit: contain;
    }
    .advantages__block{
        padding-left: 0;
        width: 95%;
        margin: auto;
    }
    .pricing__cards{
        flex-direction: column;
    }
    .pricing__card:first-child{
        margin-right: 0;
        margin-bottom: 120px;
    }
    .pricing__card:last-child{
        margin-left: 0;
    }

    .reviews__block {
        width: 55%;
    }
}